<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="client.css">

    <title>Document</title>
</head>
<body onload="init()">
    <nav class="navbar bg-dark ">
        <div class="container-fluid" style="justify-content: center;">
          <span class="navbar-brand mb-0 h1" >Secure Cloud Client</span>
        </div>
    </nav>
    <div id="form">
        <span class="upload">
            <a><strong>Upload:</strong></a>
            <form>
                <input type="file" id="fileInput">
                <input class="btn btn-primary" onclick="upload()" type="submit">
            </form>
        </span>

        </br>
        <span>
            <a><strong>Download:</strong></a>
            <form> 
                <input type="text" id="downloadFile" name="filename">
                <input onclick="download()" class="btn btn-primary" type="submit">
            </form>
        </span>

        </br>

        <span>
            <a><strong>Remove:</strong></a>
            <form> 
                <ul class="list-group" id="list-groupID"></ul>
                <input onclick="remove()" class="btn btn-primary" id= "removeButton" type="submit">
            </form>
        </span>      
    </div>

    <div class="footer">
        <a href="https://github.com/kvnkarthik02/secure-cloud-service">Github Repo</a>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
    function init(){
        fetch('http://localhost:1234/fileList', {
            method: 'GET',
        })
        .then(response => response.json())
        .then(data => {
            for( let i=0;i<data.length;i++ ) {
                var classCount = "element"+i;
                var selectClassCount = "#"+classCount;
                d3.select("#list-groupID").append("li").classed('list-group-item', true).attr("id", "list-group-item").attr("id", classCount).append("input").classed('form-check-input me-1', true).attr("type", "radio").attr("name", "listGroupRadio")
                d3.select(selectClassCount).append("label").classed('list-group-label', true).text(data[i])
            }
        })
    }

    //function that handles the uploading of a file
    function upload(){
        var fileInput = document.getElementById("fileInput");
        const file = fileInput.files
        const formData = new FormData();
        formData.append('file', file[0]);
        console.log(formData);
        
        fetch('/upload', {
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            console.log(data)
        })
        .catch(error => {
            console.error(error)
        })
    }

    //function that handles the download request of a file in the server
    function download(){
        var downloadFile = document.getElementById("downloadFile").value;

        fetch('http://localhost:1234/download', {
            method: 'POST',
            body: JSON.stringify({
                "fileName": downloadFile
            }),
            headers: {
                'Content-type': 'application/json; charset=UTF-8'
            },
        })
        .then(response => response.json())
        .then(data => {
            console.log(data)
        })
        .catch(error => {
            console.error(error)
        })
    }

    //function that handles the removal of a file from the server
    function remove(){

        $("input[type='radio']:checked").each(function() {
            var removeFile= $(this).next().text();
            // alert(removeFile);
            fetch('/remove', {
                method: 'POST',
                body: JSON.stringify({
                    "file": removeFile
                }),
                headers: {
                    'Content-type': 'application/json; charset=UTF-8'
                },
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
            })
            .catch(error => {
                console.error(error)
            })
        });
    }

</script>
</html>