<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Secure Cloud Client</h1>
    <span>
        <a>Upload:</a>
        <div>
            <a>Enter TCD student number: </a>
            <input type="text" id="input" placeholder="Student Number">    
        </div>
        <form>
            <input type="file" id="myFile" name="filename">
            <input type="submit">
        </form>
    </span>

    </br>
    <span>
        <a>Download:</a>
        <div> 
            <input type="file" id="myFile" name="filename">
            <input type="submit">
        </div>
    </span>

    </br>

    <span>
        <a>Remove:</a>
        <div> 
            <input type="file" id="myFile" name="filename">
            <input type="submit">
        </div>
    </span>    
</body>
</html>