.navbar-brand {
  color: white;
}

body{
  background-color: bisque;
  padding-top: 10px;
}

.welcomeMessage{
  color: black;
  text-align: center;
  margin-top: 50px;
}

#form { 
  left      : 50%;
  top       : 40%;
  position  : absolute;
  transform : translate(-50%, -50%);
  padding-top: 100px;
}

.downloadButton{

  padding-left: 15%;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.footer a {
  color: white;
}

#removeButton{
  left      : 50%;
  position  : absolute;
  transform : translate(-50%, 20%);
}